@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  h1 {
    @apply text-5xl;
    @apply select-none;
  }
  h2 {
    @apply text-4xl;
    @apply select-none;
  }
  h3 {
    @apply text-3xl;
    @apply select-none;
  }
  h4 {
    @apply text-2xl;
    @apply select-none;
  }

  h5 {
    @apply text-xl;
    @apply select-none;
  }
}

:lang(ko-KR) {
  p,
  span,
  h1,
  h2,
  h3,
  h4.h5 {
    font-family: 'Noto Sans KR', 'Noto Color Emoji', sans-serif;
  }
}

:lang(ja-JP) {
  p,
  span,
  h1,
  h2,
  h3,
  h4.h5 {
    font-family: 'Noto Sans JP', 'Noto Color Emoji', sans-serif;
  }
}

:lang(en-US) {
  p,
  span,
  h1,
  h2,
  h3,
  h4.h5 {
    font-family: 'Noto Sans', 'Noto Color Emoji', sans-serif;
  }
}

* {
  font-optical-sizing: auto;
  font-style: normal;

  /* Disable due to Ag-Grid */
  /* transition: all 0.15s; */
}
